<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- Setter Injection -->
    <!--<bean id="sequenceGenerator" class="com.springrecipes.sequence.SequenceGenerator">
        <property name="prefix">
            <value>30</value>
        </property>
        <property name="suffix">
            <value>A</value>
        </property>
        <property name="initial">
            <value>10000</value>
        </property>
    </bean>-->

    <!--<bean id="sequenceGenerator" class="com.springrecipes.sequence.SequenceGenerator">
        <property name="prefix" value="30"/>
        <property name="suffix" value="A"/>
        <property name="initial" value="10000"/>
    </bean>-->

    <!--<bean id="sequenceGenerator" class="com.springrecipes.sequence.SequenceGenerator"
        p:prefix="30" p:suffix="A" p:initial="10000"/>-->

    <!-- Constructor Injection -->
    <!--<bean id="sequenceGenerator" class="com.springrecipes.sequence.SequenceGenerator">
        <constructor-arg>
            <value>30</value>
        </constructor-arg>
        <constructor-arg>
            <value>A</value>
        </constructor-arg>
        <constructor-arg>
            <value>10000</value>
        </constructor-arg>
    </bean>-->

    <!--<bean id="sequenceGenerator" class="com.springrecipes.sequence.SequenceGenerator">
        <constructor-arg value="30"/>
        <constructor-arg value="A"/>
        <constructor-arg value="10000"/>
    </bean>-->

    <bean id="sequenceGenerator" class="com.springrecipes.sequence.SequenceGenerator">
        <property name="initial" value="10000"/>
        <property name="suffixes">
            <!--<list>-->
            <!--<set>
                <value>A</value>
                <bean class="java.net.URL">
                    <constructor-arg value="http"/>
                    <constructor-arg value="www.appress.com"/>
                    <constructor-arg value="/"/>
                </bean>
                <null/>
            </set>-->
            <!--</list>-->
            <!--<map>
                <entry key="type" value="A"/>
                &lt;!&ndash;<entry>
                    <key>
                        <value>type</value>
                    </key>
                    <value>A</value>
                </entry>&ndash;&gt;
                <entry>
                    <key>
                        <value>url</value>
                    </key>
                    <bean class="java.net.URL">
                        <constructor-arg value="http"/>
                        <constructor-arg value="www.appress.com"/>
                        <constructor-arg value="/"/>
                    </bean>
                </entry>
            </map>-->
            <props>
                <prop key="type">A</prop>
                <prop key="url">http://www.appress.com</prop>
                <prop key="null">null</prop>
            </props>
        </property>

    </bean>
</beans>